.ElementModalViewOffer {
  padding: 80px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.389);

  .containerContentModal {
    background-color: var(--secundary-color-brighter);
    padding: 50px;
    border-radius: 15px;
    position: relative;

    .closeButton {
      position: absolute;
      right: 15px;
      top: 15px;
      border-radius: 100%;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .buyButton {
      width: 100%;
      font-size: 20px;
      height: fit-content;
      font-weight: bold;
      border-radius: 15px;
    }
  }
}

#SectionProducts {
}
