@import "../../../mixins.scss";

#SectionUserProfile {
  @include SectionDefault;


  .profileWrapper {

    border: 1px solid #DEE1E4;
    border-radius: 4px;


    padding: 18px;
    
    display: flex;
    flex-direction: column;
    
    justify-content: start;
    
    gap: 1vw;
    
    // background-color: red;
  }
  
  .profileHeader {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0 20px;

    justify-content: space-between;

    .left {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;


      .title {
        padding: 5px 10px;

        font-weight: 600;
        font-size: 18px;
      }

      .userIcon {
        padding: 14px;

        border: 1px solid #c0c0c0;
        border-radius: 4px;
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;

      gap: 10px;;
    }

  }

  .profileBody {
    display: flex;

    flex-direction: row;

    gap: 50px;

    padding: 1vw 2vw;

    .userInfos {
      display: flex;
      flex-direction: row;

      justify-content: space-between;
    
      flex-wrap: wrap;
    }

    .campoWrapper {
      display: flex;
      flex-direction: column;

      min-width: 50%;
    }
  
    .infoTilte {
      padding: 5px;
  
      font-size: 14px;
  
      border-radius: 4px;
    }
  
    .infoDesc {
      padding: 5px;
  
      font-size: 18px;
      font-weight: 400;
  
      border-radius: 4px;
  
      line-height: 0.2;

      min-width: 200px;
    }
  
    .status {
      min-width: auto;

      color: rgb(68, 68, 68);
      background-color: rgb(255, 227, 227);
      border-radius: 4px;
      border: 1px solid rgb(209, 209, 209);
      
      
      padding: 4px;

      display: flex;
      flex: row;

      align-items: center;
      gap: 5px;
    }

    .verified {
      color: #23CC67;
      background-color: rgb(227, 255, 227);
      border-radius: 4px;
      border: 1px solid #23CC67;
      
      padding: 4px;

      display: flex;
      flex: row;

      align-items: center;
      gap: 5px;
    }

    .unverified {
      color: red;
      background-color: rgb(255, 227, 227);
      border-radius: 4px;
      border: 1px solid red;
      
      
      padding: 4px;

      display: flex;
      flex: row;

      align-items: center;
      gap: 5px;
    }
  
    .avatar-uploader {
      width: auto;
    }

    .ant-upload {
      width: auto;
      height: auto;
    }

    .teste {
      display: flex;
      flex-direction: column;
      gap: 10px;

      width: 70%;
    }

  }

}