#LayoutDashboard {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;

  .menu {
    width: 80px;
    height: 100%;
    background-color: var(--secundary-color);
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .option {
      text-decoration: none;
      height: 80px;
      width: 250px;
      transition: all 0.3s;
      display: flex;
      align-items: center;
      color: var(--tertiary-color);
      background-color: transparent;
      cursor: pointer;

      .icon {
        width: 30px;
        height: 30px;
        padding: 25px;
        transition: all 0.3s;
      }

      .text {
        font-size: 20px;
        text-transform: capitalize;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

      &.active .icon {
        color: var(--primary-color);
      }
    }

    .header {
      overflow: hidden;

      .containerLogo {
        display: flex;
        width: 250px;

        .icon {
          width: 50px;
          height: 50px;
          padding: 15px;
          object-fit: contain;
          transition: all 0.3s;
        }

        .logo {
          width: 150px;
          height: 80px;
        }
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    .footer {
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .userCard {
        width: 250px;
        height: 80px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s;
        font-size: 18px;
        text-transform: capitalize;

        .userIcon {
          width: 50px;
          height: 50px;
          margin: 15px;
          background-color: red;
          border-radius: 100%;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-weight: bold;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
    }

    &:hover {
      width: 250px;
      .header {
        .containerLogo {
          .icon {
            rotate: 90deg;
          }
        }
      }
    }
  }
  .content {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    background-color: var(--secundary-color-brighter);
  }
}
