.ElementProduct {
  .containerImg {
    position: relative;

    .img {
      width: 100%;
      height: 500px;
      object-fit: cover;
      border-radius: 15px;
    }
    margin-bottom: 15px;
  }

  .containerCharacteristics {
    display: flex;
    gap: 15px;
    text-transform: capitalize;
  }

  .containerSallerInformations {
    .subTitle {
      padding: 0;
      margin: 0;
    }

    .text {
      padding: 0;
      margin: 6px 0 20px 0;
    }
  }
}
