.ElementProductCard {
  width: 100%;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  .header {
    position: relative;
    height: 200px;

    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }

    .priceTag {
      position: absolute;
      z-index: 1;
      bottom: 10px;
      left: -10px;
      background-color: green;
      font-size: 20px;
      padding: 5px 10px;
      color: white;
      font-weight: bold;
      border-radius: 0px 15px 15px 15px;

      &::after {
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
        background-color: rgb(0, 102, 0);
        width: 10px;
        height: 10px;
        z-index: 2;
        border-radius: 15px 0 0 0;
      }
    }
  }

  .body {
    padding: 15px;
    .title {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      text-transform: capitalize;
      margin: 0 0 15px 0;
    }

    .category {
      text-transform: capitalize;
    }

    .bar{
      opacity: .5;
    }

    .text{
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      line-clamp: 5;
      -webkit-box-orient: vertical;
      height: 100px;
    }
  }

  .footer {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
  }
}
