.ConfirmModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  transition: all 0.1s;
  opacity: 0;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .contentModal {
    padding: 25px 15px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    background-color: var(--secundary-color);
    border-radius: 15px;

    .contianerButton {
      display: flex;
      justify-content: space-around;

      .button {
        width: 100px;
        height: 40px;
      }
    }
  }
}

.ElementProductCard {
  width: 100%;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  .header {
    position: relative;
    height: 200px;

    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }
  }

  .body {
    padding: 15px;
    .title {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      text-transform: capitalize;
      margin: 0 0 15px 0;
    }

    .category {
      text-transform: capitalize;
    }

    .bar {
      opacity: 0.5;
    }

    .text {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      line-clamp: 5;
      -webkit-box-orient: vertical;
      height: 100px;
    }
  }

  .footer {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    flex-wrap: wrap-reverse;
  }
}
