@import "../../../mixins.scss";

#ElementCheckoutForm{
  .inputNumber{
    width: 100%;
  }
  
  .quill{
    margin-bottom: 30px;
  }

  .containerButton{
    display: flex;
    justify-content: flex-end;
  }
}